// Адаптив
// > 992px  container{ width: 956px }

//769px-992px
@media (max-width: 992px) {
  .container {
    width: 752px;
  }

  .rests {
    padding: 32px 0 48px;
    &__tile {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 12px;
    }
  }
}

//577px-768px
@media (max-width: 768px) {
  .container {
    width: 308px;
  }

  .rests {
    &__tile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .footer {
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    &__center-column {
      margin-top: 39px;
    }
    &__right-column {
      margin-top: 23px;
    }
    &__p-links {
      grid-template-columns: repeat(1, 1fr);
      div + div {
        margin-top: 23px;
      }
    }
  }
}
