// Адаптив
// > 992px  container{ width: 956px }

//769px-992px
@media (max-width: 992px) {
  .container {
    width: 752px;
  }

  .rests {
    padding: 32px 0 48px;
    &__tile {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 12px;
    }
  }

  .rest-info {
    padding: 80px 8px;
  }
  .rest-content {
    padding: 56px 0 37px;
    &__grid {
      grid-template-columns: 1fr;
      grid-gap: 32px 0px;
    }
    &__item {
      display: grid;
      grid-template-columns: 1fr 200px;
    }
  }
}

//577px-768px
@media (max-width: 768px) {
  .container {
    width: 308px;
  }

  .top {
    &-enter {
      margin-right: 0;
    }
    &-basket {
      display: none;
    }
  }

  .rests {
    &__tile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .footer {
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    &__center-column {
      margin-top: 39px;
    }
    &__right-column {
      margin-top: 23px;
    }
    &__p-links {
      grid-template-columns: repeat(1, 1fr);
      div + div {
        margin-top: 23px;
      }
    }
  }

  .rest-navigation {
    display: none;
  }
  .rest-info {
    padding: 0;
    background: url("../img/photo-min.png") no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    position: relative;
    min-height: 280px;
    &__wrapper {
      padding: 24px 0;
      position: absolute;
      width: 300px;
      height: 180px;
      top: 131px;
      left: 50%;
      transform: translateX(-50%);
    }
    &__title {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
    &__mini-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }
    &__cost {
      font-size: 13px;
      line-height: 16px;
    }
    &__wait {
      margin-top: 16px;
      font-size: 12px;
      line-height: 30px;
    }
  }

  .rest-content {
    &__title {
      text-align: center;
    }
    &__liner {
      display: block;
      margin-top: 12px;
    }
    &__grid {
      margin-top: 43px;
      grid-template-columns: 1fr;
      grid-auto-rows: 102px;
      grid-gap: 17px 0px;
    }
    &__item {
      grid-template-columns: 1fr 102px;
      grid-auto-rows: 102px;
      border: none;
      border-bottom: 1px solid rgba(117, 117, 117, 0.2);
      border-radius: 0;
      & > div {
        padding: 0 0 16px 0;
      }
    }
    &__item-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #1d1d1d;
    }
    &__item-subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 21px;
      color: #626262;
    }
    &__item-cost {
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      color: #1d1d1d;
    }
    &__item-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
