.footer {
  padding: 56px 0 38px;
  background-color: #252525;
  &__logo {
    width: 197px;
    height: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__liner {
    margin-top: 40px;
    height: 1px;
    background-color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.4;
    &_mt50 {
      margin-top: 50px;
    }
  }

  &__wrapper {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__left-column {
    height: 140px;
  }
  &__center-column,
  &__right-column {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: #ffffff;
    }
    a:hover {
      color: #49a144;
    }
    div + div {
      margin-top: 23px;
    }
  }

  &__lang {
    width: 227px;
    height: 40px;
    background: #3b3b3b;
    border-radius: 2px;
    position: relative;
    &-name {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 40px;
      color: #ffffff;
      margin-left: 50px;
      &::before {
        position: absolute;
        content: url("../icons/world.svg");
        left: 17px;
        top: 3px;
      }
      &::after {
        position: absolute;
        content: url("../icons/arrowback.svg");
        right: 17px;
        transition: 1s all;
        cursor: pointer;
      }
    }
    &-select {
      display: none;
      margin-top: 3px;
      width: 227px;
      padding: 5px 50px;
      background: #3b3b3b;
      border-radius: 2px;
      position: absolute;
      cursor: pointer;
      div {
        display: block;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 30px;
        color: #ffffff;
        &::before {
          position: absolute;
          content: url("../icons/world.svg");
          left: 17px;
          transform: translateY(3px);
        }
      }
    }
  }

  &__tag {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-top: 33px;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #49a144;
    }
  }

  &__link {
    margin-top: 17px;
    &-item {
      text-decoration: none;
      margin-right: 5px;
      &:hover {
        svg {
          path {
            fill: #49a144;
          }
        }
      }
    }
  }

  &__apps {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 40px;
  }

  &__p-links {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    a {
      text-decoration: none;
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      color: #ffffff;
    }
    a:hover {
      color: #49a144;
    }
  }
}
